* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url("mansion-interior.jpg");
    background-size: cover;
}

header {
    background: rgba(230, 230, 250, 0.795);
    color: purple;
    text-shadow: 3px 3px white;
    display: none;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin: 10px 3%;
}

.title-display, .gastly-instructions, .gastly-score-report {
    display: none;
    flex-direction: column;
}

#haunter-container {
    display: flex;
    justify-content: center;
}

#haunter {
    width: 45%;
    margin-bottom: -10%;
    display: none;
}

h1 {
    color: purple;
    text-shadow: 3px 3px white;
    text-align: center;
    border: 2px black solid;
    background-color: lavender;
    margin: 0 auto 10px auto;
    padding: 10px;
    box-shadow: 3px 3px purple;
    font-size: 3vw;
}

button {
    margin: auto;
    padding: 5px; 
    font-size: 1.5vw;
    background-color:#fff;
}

/* GASTLY GAME STYLES */

.gastly-instructions-container, .gastly-score-container, .high-scores-container {
    position: absolute;
    top: 24vh;
    left: 3.5vw;
    right: 3.5vw;
    display: none;
    justify-content: center;
}

.gastly-instruction-text, .gastly-score-report-text-success, .gastly-score-report-text-fail, .high-score-scoreboard {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.5vw;
    border: 2px black solid;
    background-color: #fff;
    line-height: 1.7;
}

.gastly {
    display: inline-block;
}

/* END GAME STYLES */

.text-entry-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#submit-btn {
    padding: 5px;
    font-size: 1.5vw;
    background-color: #fff;
    margin: 2.5px;
}

.text-entry {
    padding: 5px; 
    font-size: 1.5vw;
    background-color:lavender;
    margin: 0 2.5px 0 2.5px;
    color: purple;
    text-shadow: 3px 3px white;
    text-align: center;
    border: 2px black solid;
    box-shadow: 3px 3px purple;
}

.final-score-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.high-score-scoreboard {
    text-align: center; 
    display: inherit;
    flex-direction: column; 
    justify-content: center; 
}

#scores-list {
    list-style-type: none;
    padding: 0;
    padding-top: 3%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    #haunter-container {
        display: flex;
        justify-content: center;
        margin-top: 20vh;
    }
    
    h1 {
        font-size: calc(1.2rem + .9vw)
    }

    h2 {
        font-size: calc(1rem + .9vw)
    }

    .gastly-instructions, .gastly-score-report {
        margin-left: -2%;
    }

    .title-display {
        margin-left: 0;
    }

    #gastly-header {
        margin-left: 1.5%;
    }

    #timer {
        margin-left: 0;
        margin-right: 5%;
    }

    p, button, #submit-button, .text-entry {
        font-size: calc(.5rem + .6vw);
    }
}

@media screen and (max-width: 425px) {
    #haunter-container {
        margin-top: 10vh;
    }
    
    #haunter {
        width: 80%;
    }

    .title-display {
        margin-top: -6%;
    }
    
    h2 {
        font-size: calc(.5rem + .9vw)
    }

    #timer {
        margin-left: 0;
        margin-right: 3%;
    }
}


